ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, button {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfloat {
    zoom: 1;
}

.clearfloat::after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
}